{% load static %} 
  <!-- Footer section Start -->
  <footer id="footer" class="opacity05">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
          <div class="copyright" >
            <p>Copyright &copy; 2019 XHROne | All rights reserved.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
          <div class="scroll-top text-center">
            <a href="#header"><i class="fa fa-chevron-circle-up fa-2x"></i></a>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
          <p class="text-center">Developed By <a href="http://neerajjoshi.com">Neeraj Joshi</a></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer section End -->
<!-- Scripts below-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static "js/jquery.min.js"%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!--Knockout js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js" crossorigin="anonymous"></script>
<!-- Knockout validation-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout-validation/2.0.2/knockout.validation.min.js" crossorigin="anonymous"></script>

<!-- Main JS file -->
<script src="{% static "feature_req/js/main.js" %}"></script>
