{% extends 'base.html' %}
{% load static %}

{% block head_title %}
    Feature requests | Create and view features requested
{% endblock %}

{% block content %}	 
  <div class="container">

        <div class="row justify-content-center mt-4 mb-4">
              <div class="d-flex card col-xs-12 col-md-10 p-0">
                <div class="card-header">Feature requests</div>
                <div class="card-body justify-content-center mt-4 mb-4">
                    <div class="card col-xs-10">
                        <div class="card-body">
                            
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationClient">Client</label>
                                    <select class="form-control" id="validationClient">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom02">Title</label>
                                    <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDescription">Description</label>
                                    <div class="input-group">
                                            <textarea class="form-control" id="validationDescription" rows="3"></textarea>
                                        <div class="invalid-feedback">
                                            Please choose a username.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationPriority">Priority</label>
                                    <input type="number" class="form-control" id="validationPriority" placeholder="Priority" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid priority.
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationProductionArea">Production area</label>
                                    
                                    <select class="form-control" id="validationProductionArea">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please provide a valid state.
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationDate">Target date</label>
                                    <input type="date" class="form-control" id="validationDate" placeholder="Zip" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid zip.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card mt-4 grid-table">
                        <div class="card-body">
                            Grid
                        </div>
                    </div>
                </div>
              </div>
        </div>

{% endblock %}
