<!DOCTYPE html>
{% load static %} 
<html lang="en">

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
	    <meta name="author" content="">
        <meta charset="utf-8">
        <title>
        	{% block head_title %}
        		Feature request console
        	{% endblock %}
        </title>
        {% include "head_scripts.html" %}
        
    </head>
    
    <body>
        {% include "body_header.html" %}
        {% block content %}
      
      	{% endblock %}
        {% include "body_footer.html" %}
    </body>
</html>
